.aboutSection {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.bodyTitle {
  text-align: center;
}

.container::after,
.cardsContainer::after {
  content: "";
  clear: both;
  display: table;
}

.cardContainer {
  box-sizing: border-box;
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardDescription {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.buttonContact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonContact:hover {
  background-color: #555;
}

.footerBody {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #474e5d;
}