@import "../../../styles/palettes.scss";
@import "../../../styles/commonStyle.scss";

.headerContainer {
  @include header-container;
}

.loaderContainer {
  @include loader-container;
}

.table {
  border-spacing: 0;
  border: 1px solid map-get($grey, lighter);
}

.headerGroup {
  // margin: 0;
  padding: 12px;
  border-bottom: 1px solid map-get($grey, lighter);
  border-right: 1px solid map-get($grey, lighter);
  position: relative;
}

.selectUsersRole {
  @include select;
}

.toastContainer {
  @include toast-container;
}

.usersSection {
  @include section;
  max-height: 60%;
  min-height: 30%;
  overflow: auto;
}

.actions {
  @include action;
  margin: 10px 24px;
}

.saveButton {
  @include button;
}
