@import "../../../styles/palettes.scss";
@import "../../../styles/styles.scss";

.usersSection {
  @include section($maxHeight: 50%);
  min-height: 30%;
  overflow: auto;

  .headerContainer {
    display: flex;
    flex-direction: column;
    color: map-get($black, dark);

    .actions {
      @include action;
      margin: 10px 24px;

      .saveButton {
        @include button;
      }
    }
  }
}

.loaderContainer {
  @include loader-container;
}

.table {
  border-spacing: 0;
  border: 1px solid map-get($grey, lighter);
  overflow: auto;

  .headerGroup {
    padding: 12px 0;
    border-bottom: 1px solid map-get($grey, lighter);
    border-right: 1px solid map-get($grey, lighter);
    position: relative;
  }
}

//desktop
@media screen and (min-width: 1025px) {
  .usersSection {
    @include section($maxHeight: 50%, $width: 60%, $margin: 0 20%);
  }
}

//tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .usersSection {
    @include section($maxHeight: 60%, $width: 80%, $margin: 0 10%);
  }
}

//phone
@media screen and (max-width: 767px) {
  .usersSection {
    @include section($maxHeight: 50%, $width: 96%, $margin: 0 2%);
  }
}
