.App {
  display: flex;
  flex-direction: column;
  color: #00000094;
}

.loaderContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  border-spacing: 0;
  border: 1px solid #ededed;
}

.headerGroup {
  margin: 0;
  padding: 0.8rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}

.select {
  width: 100%;
}

.toastContainer {
  visibility: visible;
  width: 100%;
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 999;
  -webkit-keyframes: hideAnimation 0s ease-in-out 0.5s;
  animation: hideAnimation 0s ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

.usersSection {
  position: relative;
  top: -60px;
  margin: 0 30%;
  max-height: 60%;
  min-height: 30%;
  background-color: #fff;
  color: #4a4a4a;
  overflow: auto;
}

.actions {
  margin: 20px 50px 0 60px;
  align-items: center;
}

.saveButton {
  background: #8baa64;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
}

.saveButton:hover {
  background-color: #474f3d;
}

