.App {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.loaderContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  border-spacing: 0;
  border: 1px solid #ededed;
}

.headerGroup {
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}

.userRole {
  width: 100%;
}