@import "../../styles/palettes.scss";
@import "../../styles//styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  @include header;

  .link {
    @include link;

    .logo {
      position: relative;
      font-family: sans-serif;
      font-size: 32px;
      font-weight: 700;
      transition: 0.6s;
      text-decoration: none;
    }
  }

  .navContainerList {
    @include conatiner-list;

    .navList {
      @include conatiner-list;
      margin: 0 20px;
      font-size: 24px;

      .image {
        border-radius: 50%;
        width: 50px;
      }

      .logout {
        @include logoutButton;
      }
    }
  }
}

.sticky {
  @include header($background: map-get($white, dark));

  .stickyLink {
    @include link($color1: $pink, $key1: base, $color2: $grey, $key2: lighter);

    .logo {
      position: relative;
      font-family: sans-serif;
      font-size: 32px;
      font-weight: 700;
      transition: 0.6s;
      text-decoration: none;
    }
  }

  .navContainerList {
    @include conatiner-list;

    .navList {
      @include conatiner-list;
      margin: 0 20px;
      font-size: 24px;

      .image {
        border-radius: 50%;
        width: 50px;
      }

      .stickyLogout {
        @include logoutButton(
          $color1: $pink,
          $key1: base,
          $color2: $grey,
          $key2: lighter,
          $padding: 8px
        );
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    display: block;

    & .userSettingsDropDown {
      display: flex;
    }
  }

  .userSettingsDropDown {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: -70px;
    background-color: map-get($white, dark);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px map-get($black, lighter);
    z-index: 1;
    text-align: center;
    background-color: map-get($map: $white, $key: lighter);

    &:hover {
      transform: scale(1);
    }
  }
}
