@import url("https://fonts.googleapis.com/css?familly=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import "../../styles/palettes.scss";
@import "../../styles//commonStyle.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 25px 40px;
  margin: 34px 0;
  min-height: 1px;
  z-index: 9999;
}

.sticky {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 5px 100px;
  background-color: map-get($white, dark);
  margin-top: 0px;
  z-index: 9999;
}

.logo {
  position: relative;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  transition: 0.6s;
  text-decoration: none;
}

.navContainerList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  position: relative;
  margin: 0 20px;
  list-style: none;
  font-size: 24px;
}

.link {
  @include link;
}

.stickyLink {
  @include link($color1: $pink, $key1: base, $color2: $grey, $key2: lighter);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  display: block;
}

.userSettingsDropDown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: map-get($white, dark);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px map-get($black, lighter);
  z-index: 1;
  text-align: center;
  background-color: #fff;
}

.userSettingsDropDown:hover {
  transform: scale(1);
}

.dropdown:hover .userSettingsDropDown {
  display: flex;
}

.logout {
  @include link;
}

.stickyLogout {
  font: inherit;
  background-color: transparent;
  color: map-get($pink, base);
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  &:hover {
    color: #e6e6e6;
  }
}

.image {
  border-radius: 50%;
  width: 50px;
}

.schoolLogoContain {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  left: 20%;
}

.schoolLogo {
  height: 80px;
  top: 30%;
  z-index: 9999;
}
