@import "../../../styles/styles.scss";

.seactionConatainer {
  @include section($maxHeight: 50%);
  overflow: auto;

  .classesTime {
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .teachers {
      display: flex;
      align-items: center;
      width:100%;

      .labelName {
        display: inline-block;
        padding: 10px;
      }

      .selectTeachersName {
        @include input($width: 50%);
      }
    }

    .viewClasses {
      @include button($width: 25%, $margin: 10px 5px);
    }
  }

  .headerClassesTime {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }
}

//desktop
@media screen and (min-width: 1025px) {
  .seactionConatainer {
    @include section($maxHeight: 50%, $width: 60%, $margin: 0 20%);
  }
}

//tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .seactionConatainer {
    @include section($maxHeight: 50%, $width: 80%, $margin: 0 10%);
  }
}

//phone
@media screen and (max-width: 767px) {
  .seactionConatainer {
    @include section($maxHeight: 50%, $width: 96%, $margin: 0 2%);
  }
}
