.header {
  width: 100%;
  background-color: #ebebeb;
  box-shadow: 1px 1px 4px #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: sans-serif;
  font-size: 32px;
  padding-left: 10px;
  text-transform: uppercase;
}

.navContainerList {
  list-style: none;
  display: flex;
  padding-right: 10px;
  align-items: center;
}

.navList {
  margin: 0 24px;
  font-size: 24px;
}

.link {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.buttonLogout {
  font: inherit;
  background-color: transparent;
  color: #000000;
  padding: 8px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.link:hover {
  color: #243bbe;
}

.buttonLogout:hover {
  color: #243bbe;
}

.image {
  border-radius: 50%;
  width: 50px;
}

.success {
  visibility: visible;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.warning {
  background-color: red;
  border-color: #d6e9c6;
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}