@import "../../../styles/palettes.scss";
@import "../../../styles/styles.scss";

.sectionContainer {
  @include section($maxHeight: 50%);
  overflow: auto;

  .headerClassesTime {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }
}

.loaderContainer {
  @include loader-container;
}

//desktop
@media screen and (min-width: 1025px) {
  .sectionContainer {
    @include section($maxHeight: 50%, $width: 60%, $margin: 0 20%);
  }
}

//tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .sectionContainer {
    @include section($maxHeight: 50%, $width: 80%, $margin: 0 10%);
  }
}

//phone
@media screen and (max-width: 767px) {
  .sectionContainer {
    @include section($maxHeight: 50%, $width: 96%, $margin: 0 2%);
  }
}
