@import "../../../styles/palettes.scss";
@import "../../../styles/styles.scss";

.sectionContainer {
  @include section;

  .headerClassesTime {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }
}

.loaderContainer {
  @include loader-container;
}
