body {
  font-family: Arial, Helvetica, sans-serif;
}

.actions {
  margin-top: 32px;
  align-items: center;
}

.header {
  margin: 5% 30%;
  max-width: 40%;
  border-radius: 6px;
  background-color: #ebebeb;
  box-shadow: 0 1px 4px #000000;
  padding: 24px;
  text-align: center;
  color: black;
}

.signinButton {
  cursor: pointer;
  font: inherit;
  color: black;
  background-color: #ebebeb;
  border: 1px solid #453e4a;
  border-radius: 4px;
  padding: 8px 40px;
}

.signinButton:hover {
  background-color: #37079f;
  border-color: #37079f;
}

.errorMessage {
  color: red;
}

.success {
  visibility: visible;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.warning {
  background-color: red;
  color: black;
  text-align: center;
  padding-top: 0.5px;
  font-size: large;
  padding-left: 10%;
  padding-right: 10%;
}
