@import "../../../styles/palettes.scss";
@import "../../../styles//styles.scss";

.success {
  @include notification($color: $green, $key1: light);
}

.warning {
  @include notification($color: $orange, $key1: light);
}

.note {
  @include notification($color: $blue, $key1: light);
}

.failure {
  @include notification;
}

.top-right {
  margin-left: 70%;
}

.top-left {
  margin-right: 70%;
}

.bottom {
  margin-top: 17%;
}

.bottom-left {
  margin-left: 70%;
  margin-top: 17%;
}

.bottom-right {
  margin-right: 70%;
  margin-top: 17%;
}
