@import "../../../styles/palettes.scss";

.success {
  background-color: #dff0d8;
  color: map-get($green, dark);
  text-align: center;
  padding: 5px;
}

.warning {
  background-color: map-get($orange, light);
  color: map-get($orange, dark);
  text-align: center;
  padding: 5px;
}

.note {
  background-color: map-get($blue, light);
  color: map-get($blue, dark);
  text-align: center;
  padding: 5px;
}

.failure {
  background-color: map-get($red, lighter);
  color: map-get($red, dark);
  text-align: center;
  padding: 5px;
}

.top-right {
  margin-left: 70%;
}

.top-left {
  margin-right: 70%;
}

.bottom {
  margin-top: 17%;
}

.bottom-left {
  margin-left: 70%;
  margin-top: 17%;
}

.bottom-right {
  margin-right: 70%;
  margin-top: 17%;
}
