@import "../../../src/styles/styles.scss";

.sectionContainer {
  @include section;
  overflow: auto;

  .headerInformation {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
  }
}
