body {
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.input {
  font: inherit;
  background-color: #ebebeb;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 40%;
  padding: 8px;
  align-content: center;
}

.errorInput {
  font: inherit;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 40%;
  text-align: center;
  padding: 8px;
  background-color: rgba(333, 0, 0, 0.5);
}

.errorMessage {
  color: red;
}
