.header {
  margin: 70px 50px 0px 50px;
  padding: 5px;
  border: 3px solid rgb(13, 17, 24);
  border-radius: 10px;
  box-shadow: 1px 1px 4px #0f0191;
}

.headerTabulationSheets {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  padding: 50px;
  border: 3px solid rgb(13, 17, 24);
  border-radius: 10px;
  box-shadow: 1px 1px 4px #0f0191;
}

.sectionTabulation {
  padding: 5px;
  display: flex;
}

.section {
  display: inline-block;
  padding-left: 100px;
  padding-right: 10px;
}

.buttonViewSheet {
  cursor: pointer;
  font: inherit;
  color: #000;
  background-color: #ebebebf6;
  border: 1px solid #3e4a41;
  border-radius: 4px;
  padding: 8px 40px;
  margin-left: 150px;
}

.buttonViewSheet:hover {
  background-color: #37079f;
  border-color: #37079f;
}

.selectOptionClassTabulation {
  width: 15%;
}
