.banner {
    background: #fff;
    height: 250px;
  }
  
  .schoolLogo {
    height: 100px;
    top: 30%;
    position: relative;
  }
  
  .sitename {text-align: left;
    position: relative;
    border-radius: 7px 7px 0 0;
    top: -60px;
    height: 60px;
    line-height: 60px;
    background: #ffa396;
    color: #fff;
    padding-left: 20px;
    max-width: 40%;
    margin: 0 30%;
  }