@import "../../../styles//palettes.scss";
@import "../../../styles//styles.scss";

.banner {
  background: map-get($white, lighter);
  height: 250px;
}

.schoolLogo {
  height: 140px;
  top: 15%;
  position: relative;

  &:hover {
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }
}

.sectionInformation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  border-radius: 7px 7px 0 0;
  @include modal-style;
}

//desktop
@media screen and (min-width: 1025px) {
  .sectionInformation {
    @include modal-style($width: 60%, $margin: 0 20%);
  }
}

//tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .sectionInformation {
    @include modal-style($width: 80%, $margin: 0 10%);
  }
}

//phone
@media screen and (max-width: 767px) {
  .sectionInformation {
    @include modal-style($width: 96%, $margin: 0 2%);
  }
}
