@import "../../../styles//palettes.scss";
@import "../../../styles//styles.scss";

.banner {
    background: map-get($white, lighter );
    height: 250px;
  }
  
  .schoolLogo {
    height: 140px;
    top: 15%;
    position: relative;
  }
  
  .sitename {
    text-align: left;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    border-radius: 7px 7px 0 0;
    @include modal-style;
  }