.actions {
  margin-top: 32px;
  align-items: center;
}

.singupPageSection {
  position: relative;
  top: -60px;
  margin: 0 30%;
  max-width: 40%;
  background-color: #fff;
  padding: 5px 40px 20px 40px;
  color: #4a4a4a;
}

.signupButton {  
  cursor: pointer;
  background: #8baa64;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1;
  -moz-box-shadow: inset 0px 1px 0px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 1px -1px #fff;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.signupButton:hover {
  background-color: #474f3d;
}

.instruction {
  font-size: 20px;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.icons {
  position: relative;
  top: 35px;
  left: 12px;
  width: 16px;
  height: 16px;
  font-size: 19px;
  line-height: 1;
  color: #ccc;
}

.loginForward{
  float: right;
  color: #9c9c9c;
  text-decoration: none;
}

.loginForward:hover{
  text-decoration: underline;
}