.auth {
  margin: 3rem auto;
  max-width: 35rem;
  border-radius: 6px;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: center;
  color: black;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: rgb(235, 235, 235);
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 40%;
  text-align: center;
  padding: 0.5rem;
}

.actions {
  margin-top: 2rem;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: black;
  background-color: rgb(235, 235, 235);
  border: 1px solid #453e4a;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #37079f;
  border-color: #37079f;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #37079f;
}
