@import "../../../styles/palettes.scss";
@import "../../../styles/styles.scss";

.loginFooter {
     clear: both;
     height: 35px;
     text-align: right;
     border-radius: 0 0 7px 7px;
    @include modal-style($background:map-get($grey,base),)
  }