.loginFooter {
    position: relative;
    clear: both;
    height: 35px;
    background: #d9d5d2;
    text-align: right;
    border-radius: 0 0 7px 7px;
    max-width: 40%;
    margin: 0 30%;
    top: -60px;
  }