@import "../../../styles/palettes.scss";

.titleHeaderContainer {
  text-align: center;
}

.header {
  position: relative;
  top: -60px;
  margin: 0 30%;
  max-width: 40%;
  background-color: map-get($white, lighter);
  padding: 5px 40px 20px 40px;
  color: map-get($black, light);
}

.actionsContainerSignUp {
  margin-top: 32px;
  align-items: center;
}

.signupButton {
  background: map-get($green, base);
  color: map-get($white, lighter);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;

  &:hover {
    background-color: map-get($green, dark);
  }
}

.bodyHeader {
  text-align: center;
}

.selectUsersRole {
  display: block;
  padding: 10px 30px;
  border: 0;
  background: map-get($grey, lighter);
  border-radius: 3px;
  padding-left: 40px;
  font-size: 14px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 35px 5px;
}

.labelTitle {
  display: none;
  position: relative;
  color: map-get($grey, darker);
  font-weight: lighter;
  top: 35px;
  float: right;
  margin-right: 50px;
}

.instruction {
  font-size: 20px;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.icons {
  position: relative;
  top: 35px;
  left: 12px;
  width: 16px;
  height: 16px;
  font-size: 19px;
  line-height: 1;
  color: map-get($grey, base);
}
