body {
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  display: block;
  color: #000;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.input {
  display: block;
  padding: 10px 0;
  border: 0;
  background: #eee;
  border-radius: 3px;
  padding-left: 40px;
  font-size: 14px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin:10px 5px
}

.errorInput {
  display: block;
  padding: 10px 0;
  border: 0;
  border-radius: 3px;
  padding-left: 40px;
  font-size: 14px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin:10px 5px;
  background-color: rgba(333, 0, 0, 0.5);
}

.errorMessage {
  color: #ff0000;
}


